<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>Registerr</display-name>
    <servlet-name>Registerr</servlet-name>
    <servlet-class>com.food.Controller.Registerr</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Registerr</servlet-name>
    <url-pattern>/Registerr</url-pattern>
  </servlet-mapping>
  
  <display-name>foodclone</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>check.html</welcome-file>
    <welcome-file>loginfood.jsp</welcome-file>
    <welcome-file>Register.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>LoginServletfood</display-name>
    <servlet-name>LoginServletfood</servlet-name>
    <servlet-class>com.loginservlet.LoginServletfood</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>LoginServletfood</servlet-name>
    <url-pattern>/LoginServletfood</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.food.Controller.Registration</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>MenuServlet</display-name>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>com.food.Controller.MenuServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/MenuServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.food.Controller.CartServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Checkout</display-name>
    <servlet-name>Checkout</servlet-name>
    <servlet-class>com.food.Controller.Checkout</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Checkout</servlet-name>
    <url-pattern>/Checkout</url-pattern>
  </servlet-mapping>
  
</web-app>